@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NavigationManager NavigationManager

<h3>NewGame</h3>

<EditForm Model="@User" OnValidSubmit="@Save">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>

	<label for="Name">Whats your name:</label>
	<InputText @bind-Value="User.Name"></InputText>

	<input type="submit" class="btn btn-primary" value="New Game" />
</EditForm>

@code {
	[Parameter]
	public User User { get; set; }

	[Parameter]
	public EventCallback<User> UserChanged { get; set; }

	public async Task Save()
	{
		await ProtectedLocalStorage.SetAsync("User", User.Name);
		await ProtectedLocalStorage.SetAsync("GameData", new GameData
		{
			YourMoney = 300
		});
	}
	protected override void OnInitialized()
	{
		User = new User();
	}
}
