@page "/shop"

@inject ProtectedLocalStorage ProtectedLocalStorage

<h3>Shop</h3>

<h4>Welcome to your shop</h4>

@if (User?.Name == null)
{
	@*<BlazorShopTycoon.Components.NewGame @bind-User="User"></BlazorShopTycoon.Components.NewGame>*@

	<label for="Name">Whats your name:</label>
	<input @bind="User.Name" />
	<button @onclick="Save" class="btn btn-primary">New Game</button>
	<br />
	<button class="btn btn-primary" @onclick="Load">Load last game</button>
}
else
{
	<h5>@User?.Name</h5>
	<BlazorShopTycoon.Components.Game @bind-YourMoney="YourMoney" @bind-Shelfitems="Shelfitems"></BlazorShopTycoon.Components.Game>
}

@code {
	public User User { get; set; }

	public double YourMoney { get; set; }

	public List<Shelfitem> Shelfitems { get; set; }

	private async Task Load()
	{
		var NameLocalStorage = await ProtectedLocalStorage.GetAsync<User>("User");

		User = NameLocalStorage;
		GameData gameDataLocalstorage = await ProtectedLocalStorage.GetAsync<GameData>("GameData");
		if (gameDataLocalstorage != null)
		{
			YourMoney = gameDataLocalstorage.YourMoney;
			Shelfitems = gameDataLocalstorage.Shelfitems;
		}
	}
	public async Task Save()
	{
		await ProtectedLocalStorage.SetAsync("User", User);
		await ProtectedLocalStorage.SetAsync("GameData", new GameData
		{
			YourMoney = 300
		});
	}
	protected override void OnInitialized()
	{
		User = new User();
	}

}
