@page "/shop"

@inject ProtectedLocalStorage ProtectedLocalStorage

<h3>Shop</h3>

<h4>Welcome to your shop</h4>

@if (string.IsNullOrEmpty(Name))
{
	<BlazorShopTycoon.Components.NewGame @bind-Name="Name"></BlazorShopTycoon.Components.NewGame>
	<br />
	<button class="btn btn-primary" @onclick="Load">Load last game</button>
}
else
{
	<BlazorShopTycoon.Components.Game @bind-YourMoney="YourMoney" @bind-Shelfitems="Shelfitems"></BlazorShopTycoon.Components.Game>
}

@code {
	public string Name { get; set; }

	public double YourMoney { get; set; }

	public List<Shelfitem> Shelfitems { get; set; }

	private async Task Load()
	{
		string NameLocalStorage = await ProtectedLocalStorage.GetAsync<string>("Name");
		Name = NameLocalStorage;
		GameData gameDataLocalstorage = await ProtectedLocalStorage.GetAsync<GameData>("GameData");
		YourMoney = gameDataLocalstorage.YourMoney;
		Shelfitems = gameDataLocalstorage.Shelfitems;
	}
}
