@page "/shop"

@inject ProtectedLocalStorage ProtectedLocalStorage
@inject ShopStoreService ShopStoreService
<h3>Shop</h3>

<h4>Welcome to your shop</h4>

@if (User == null || User?.Name == null || GameData == null)
{
	@*<BlazorShopTycoon.Components.NewGame @bind-User="User"></BlazorShopTycoon.Components.NewGame>*@

	<label for="Name">Whats your name:</label>
	<input @bind="User.Name" />
	<button @onclick="Save" class="btn btn-primary">New Game</button>
	<br />
	<button class="btn btn-primary" @onclick="Load">Load last game</button>
}
else
{
	<h5>@User?.Name</h5>
	<p>@GameData.Day</p>
	<BlazorShopTycoon.Components.Game @bind-YourMoney="GameData.YourMoney" @bind-Shelfitems="GameData.Shelfitems" @bind-Day="GameData.Day"></BlazorShopTycoon.Components.Game>
	<button class="btn btn-danger" @onclick="Save">Save Game</button>
}


@code {
	public User User { get; set; }

	//public double YourMoney { get; set; } = 300;

	//public List<Shelfitem> Shelfitems { get; set; }

	public GameData GameData { get; set; }

	private async Task Load()
	{
		var NameLocalStorage = await ProtectedLocalStorage.GetAsync<User>("User");
		if (NameLocalStorage == null)
		{
			//No save found
			return;
		}

		User = NameLocalStorage;
		GameData gameDataLocalstorage = await ProtectedLocalStorage.GetAsync<GameData>("GameData");
		if (gameDataLocalstorage != null)
		{
			//	YourMoney = gameDataLocalstorage.YourMoney;
			//	Shelfitems = gameDataLocalstorage.Shelfitems;
			GameData = gameDataLocalstorage;
			ShopStoreService.Shelfitems = GameData.Shelfitems;
		}
	}
	public async Task Save()
	{
		await ProtectedLocalStorage.SetAsync("User", User);
		if (GameData == null)
		{
			ShopStoreService.Shelfitems = new List<Shelfitem>();
			GameData = new GameData
			{
				YourMoney = 300,
				Shelfitems = new List<Shelfitem>()
			};
		}
		await ProtectedLocalStorage.SetAsync("GameData", GameData);
	}
	protected override void OnInitialized()
	{
		User = new User();
	}

}
